* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    transition: .3s ease all;
}

/** -------------------------------------------------- Header (start) ---------------------------------------------------------*/


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding: 5px 0px;;
    background-color: #373535;
}

.imagenCV {
    border-radius: 50%;
    border:2px solid #f1f1f1;
    height:70px;
}

.btn-menu {
    display: none;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
}

.nav-h3 {
    color: #fff;
    padding: 10px;
    margin:0px 10px;
}

a:link{
    text-decoration:none;
}

a h3:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
}

.switch{
    background-color: rgb(255, 119, 0);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;    
    display: flex;
    outline: none;
}    

.switch::after {
    content:"";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;     
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active {
    background:#000;
    color: white;
}        

.switch.active::after {
    right:0;
    left:unset;
}

.switch span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }

/**---------------------------------------------div portada (start)--------------------------------------------------------------------*/

.portada {
    background: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), 
    url(https://wallpapercave.com/wp/wp3988340.jpg);
    height: 450px;
    width:100%;
    background-size:cover;
    background-position:center;
    pointer-events:none;
    display: flex;
}

h1 {
    color: white;
    font-size: 7vw;
    font-weight: 800;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    max-width: 800px;
    margin: auto;
}

/**------------------------------------------------------------------main (start)---------------------------------------------------------*/

.main {
    position: relative;
    width: 100%;
    background-position:bottom;
    color:white;
    padding: 70px 0px;
    }

section{
    margin: 0px 0px 50px;
}    

.section-h3 {
    border-bottom: 2px solid white;
    display: flex;
    justify-content:center;
    padding: 25px 0px 10px 0px;
    margin: 0px 20%;
}

li{
    padding: 7px 0px;
    margin:7px 0px;
}

.text {
    padding:25px 20%;
    list-style-type: none;
}

.art-infopersonal{
    display: flex;
    width:60%;
    margin:auto;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
}

.text-infopersonal{
    padding:20px 0px;
    width: 50%;
    list-style-type: none;
}

.div-infopersonal{ 
    max-width:50%;
    padding:50px 20% 0px 20%;
}

.img-infopersonal{
    width: 200%;
    margin:auto;
    height:200px;
    border:#f1f1f1 solid 2px;
}

/** ------------------------------------------footer (start)-------------------------------------------------------- */

.footer {
    background-color: #373535;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

#boton_contactar {
    background-color: rgb(101, 0, 129);
    border-radius: 5%;
    padding: 10px 20px;
    border-style: solid 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.contorno-icon-footer{
    background-color:white;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

footer p {
    font-size: small;
}

#caja-iconos{
    display: flex;
}

/**------------------------------------------------formulario de contacto (start)---------------------------------------------------*/ 

.footer_xl {
    background-color: #373535;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

#div_form {
    padding: 1rem;
    margin: 1rem 0rem;
    width: 40%;
    background-color:  #000;
    border: solid 2px rgb(133, 133, 133);
}

.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0px;
    border-style: none;
}

.label {
    color: #fff;
    font-weight: bold;
}

.input {
    background-color: #000;
    color: #fff;
    border: solid 1px rgb(133, 133, 133);
}

#input_coment {
    height: 3rem;
}

#btn_submit {
    text-transform: uppercase;
    cursor: pointer;
    background-color:rgb(101, 0, 129);
    color: white;
    font-weight: bold;
    height: 2rem;
    margin-top: 1rem;
}

/** --------------------------------------------Modo claro de la página web(start)-------------------------------------------------- */

body.light {
    background-color: #f1f1f1;
}

body.light header{
    background: #f1f1f1;
}

body.light .imagenCV{
    border:2px solid #000;
}

body.light .btn-menu {
    color: #000;
}

body.light .nav_visible {
    background-color: #f1f1f1;
}

body.light .nav {
    background-color: #f1f1f1;
}

body.light h3{
    color: #000;
}

body.light a h3:hover{
    border-bottom: 3px solid rgb(0, 0, 0);
}

body.light .section-h3 {
    border-bottom: 2px solid #000;
}

body.light p{
    color: #000;
}

body.light li{
    color: #000;
}

body.light .img-infopersonal{
    border: #000 solid 2px;
}

body.light .footer {
    background: #f1f1f1;
}

body.light .label {
    color: #000;
    font-weight: bold;
}

body.light .input {
    background-color: #f1f1f1;
    color: #000;
    border: solid 1px rgb(133, 133, 133);
}

body.light #div_form {
    background-color: #f1f1f1;
}

/**-----------------------------------------Mobile responsive design (start)-------------------------------------------*/

@media screen and (max-width:768px) {

    .header {
        display: flex;
        justify-content: space-between;
        padding: 2%;
    }

    .imagenCV {
        display: none;
    }

    .btn-menu {
        display: block;
        color: #f1f1f1;
        background: none;
        border: none;
        font-size: large;
        z-index: 6;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #373535;
        top: -130px;
        width: 100%;
        right: 0%;
        transition: top 0.2s;
    }

    .nav_visible {
        top: 45px;
        background-color: #373535;
    }

    .switch {
        z-index: 6;
    }

    header div {
        display: none;
    }
    
    h1 {
        font-size: 13vw;
    }

    .section-h3 {
        margin: 0px 2%;
        font-size: x-large;
    }

    .art-infopersonal {
        display: block;
        width: 96%;
    }

    .text-infopersonal {
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-infopersonal {
        max-width: none;
        width: 60%;
        margin: 0px 10%;
    }

    .text {
        padding: 25px 2%;
    }

    #div_form {
        width: 96%;
    }
}